# Ne versionner que le site : index.html + design1/2.html + assets/ (+ README, .gitignore)
/*
!/index.html
!/design1.html
!/design2.html
!/CNAME
!/robots.txt
!/sitemap.xml
!/assets/
!/README.md
!/.gitignore
